body{
    
    background: linear-gradient(to bottom, #4facfe, #00f2fe);
     display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    gap: 350px;

    background-repeat: no-repeat;
    background-attachment: fixed;

    
}
h1{
    text-align:center;
    color: black;
    font-size: 48px;    
    opacity: 0.6;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
    text-shadow: 2px 2px red;
    width: 80%;
    

    
}
.button{
    background-color:#00f2fe;
    opacity: 0.8;
    color:rgb(13, 89, 242);
    padding: 10px 20px;
    border: 2px solid rgb(245, 200, 19);
    border-radius:12px;
    cursor:pointer;
    font-size:30px;
    text-align: center;
    width: 250px;
    height: 100px;
    text-shadow: 1px 1px black;

    
}
.button:hover{
    background-color:rgb(255, 255, 255);
    color:rgb(13, 89, 242);
    border: 2px solid rgb(245, 200, 19);
    text-shadow: 1px 1px black;
    transform: scale(1.1);
    transition: all 0.3s ease;
} 
.sparkle{
    position: absolute;
    font-size: 100px;
    z-index: -1;
    transition: all 0.5s ease;

    animation: 4s linear 0s infinite running myscale;

}  
@keyframes myscale {
      50%{transform: scale(1.5, 1.5);}
}
.hidden{
    display: none;
}
.grass{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(34, 177, 76);
}
.pillar{
    position: absolute;
    
    z-index: 1;

    width: 100px;
    height: 325px;
    object-fit: cover;

    
}

.cloud{
    position: absolute;
    font-size: 100px;
    z-index: -1;
    transition: all 0.5s ease;
    background-repeat: no-repeat;

    animation: 15s linear 0s infinite running cl;

}
@keyframes cl {
      from{transform: translateX(100%);}
      to{transform: translateX(-100%);}
}
.birdplay{
    position:absolute;
    width: 65px;
    height: 65px;
    z-index: 2;
   
}

.birdplay img{
    width: 250%;
    height: 250%;
    object-fit: contain;
}
.score{
    position:absolute;
    top: 20px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
    border-radius: 10px;
    z-index: 10;
    text-shadow: 2px 2px black;
}
    
